/* GANTI INI */
body {
    background: url('../assets/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.85); /* Ubah opacity jadi 0.85 */
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px 10px 0 0;
}
